SessionAffinityProxy.TestLibrary/Service References/FakeService/FakeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FakeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:42178/FakeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:42178/FakeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFakeService_GetMessageSeparator_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessageSeparator" />
  </wsdl:message>
  <wsdl:message name="IFakeService_GetMessageSeparator_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessageSeparatorResponse" />
  </wsdl:message>
  <wsdl:message name="IFakeService_GetHostMessage1_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHostMessage1" />
  </wsdl:message>
  <wsdl:message name="IFakeService_GetHostMessage1_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHostMessage1Response" />
  </wsdl:message>
  <wsdl:message name="IFakeService_GetHostMessage2_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHostMessage2" />
  </wsdl:message>
  <wsdl:message name="IFakeService_GetHostMessage2_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHostMessage2Response" />
  </wsdl:message>
  <wsdl:message name="IFakeService_GetHostMessage3_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHostMessage3" />
  </wsdl:message>
  <wsdl:message name="IFakeService_GetHostMessage3_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHostMessage3Response" />
  </wsdl:message>
  <wsdl:message name="IFakeService_GetRawMessage1_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRawMessage1" />
  </wsdl:message>
  <wsdl:message name="IFakeService_GetRawMessage1_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRawMessage1Response" />
  </wsdl:message>
  <wsdl:message name="IFakeService_GetRawMessage2_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRawMessage2" />
  </wsdl:message>
  <wsdl:message name="IFakeService_GetRawMessage2_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRawMessage2Response" />
  </wsdl:message>
  <wsdl:message name="IFakeService_GetRawMessage3_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRawMessage3" />
  </wsdl:message>
  <wsdl:message name="IFakeService_GetRawMessage3_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRawMessage3Response" />
  </wsdl:message>
  <wsdl:portType name="IFakeService">
    <wsdl:operation name="GetMessageSeparator">
      <wsdl:input wsaw:Action="http://tempuri.org/IFakeService/GetMessageSeparator" message="tns:IFakeService_GetMessageSeparator_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFakeService/GetMessageSeparatorResponse" message="tns:IFakeService_GetMessageSeparator_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHostMessage1">
      <wsdl:input wsaw:Action="http://tempuri.org/IFakeService/GetHostMessage1" message="tns:IFakeService_GetHostMessage1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFakeService/GetHostMessage1Response" message="tns:IFakeService_GetHostMessage1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHostMessage2">
      <wsdl:input wsaw:Action="http://tempuri.org/IFakeService/GetHostMessage2" message="tns:IFakeService_GetHostMessage2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFakeService/GetHostMessage2Response" message="tns:IFakeService_GetHostMessage2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHostMessage3">
      <wsdl:input wsaw:Action="http://tempuri.org/IFakeService/GetHostMessage3" message="tns:IFakeService_GetHostMessage3_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFakeService/GetHostMessage3Response" message="tns:IFakeService_GetHostMessage3_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRawMessage1">
      <wsdl:input wsaw:Action="http://tempuri.org/IFakeService/GetRawMessage1" message="tns:IFakeService_GetRawMessage1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFakeService/GetRawMessage1Response" message="tns:IFakeService_GetRawMessage1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRawMessage2">
      <wsdl:input wsaw:Action="http://tempuri.org/IFakeService/GetRawMessage2" message="tns:IFakeService_GetRawMessage2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFakeService/GetRawMessage2Response" message="tns:IFakeService_GetRawMessage2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRawMessage3">
      <wsdl:input wsaw:Action="http://tempuri.org/IFakeService/GetRawMessage3" message="tns:IFakeService_GetRawMessage3_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFakeService/GetRawMessage3Response" message="tns:IFakeService_GetRawMessage3_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFakeService" type="tns:IFakeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMessageSeparator">
      <soap:operation soapAction="http://tempuri.org/IFakeService/GetMessageSeparator" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHostMessage1">
      <soap:operation soapAction="http://tempuri.org/IFakeService/GetHostMessage1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHostMessage2">
      <soap:operation soapAction="http://tempuri.org/IFakeService/GetHostMessage2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHostMessage3">
      <soap:operation soapAction="http://tempuri.org/IFakeService/GetHostMessage3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRawMessage1">
      <soap:operation soapAction="http://tempuri.org/IFakeService/GetRawMessage1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRawMessage2">
      <soap:operation soapAction="http://tempuri.org/IFakeService/GetRawMessage2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRawMessage3">
      <soap:operation soapAction="http://tempuri.org/IFakeService/GetRawMessage3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FakeService">
    <wsdl:port name="BasicHttpBinding_IFakeService" binding="tns:BasicHttpBinding_IFakeService">
      <soap:address location="http://localhost:42178/FakeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>