SessionAffinityProxy.TestLibrary/Service References/FakeService/FakeService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetMessageSeparator">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessageSeparatorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMessageSeparatorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHostMessage1">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHostMessage1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetHostMessage1Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHostMessage2">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHostMessage2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetHostMessage2Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHostMessage3">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHostMessage3Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetHostMessage3Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRawMessage1">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRawMessage1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRawMessage1Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRawMessage2">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRawMessage2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRawMessage2Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRawMessage3">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRawMessage3Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRawMessage3Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>